<launch>
  <arg name="camera" default="/usb_cam" />

  <arg name="marker_size" default="5.8" />
  <arg name="max_new_marker_error" default="0.08" />
  <arg name="max_track_error" default="0.2" />

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg camera)/image_raw $(arg camera)/camera_info $(arg camera)" />
</launch>
